/*Primary
Red: hsl(0, 100%, 74%) FF7A7AFF
Green: hsl(154, 59%, 51%) 38CC8CFF

Accent
Blue: hsl(248, 32%, 49%) 6055A5FF
Neutral
Dark Blue: hsl(249, 10%, 26%) 3E3C49FF
Grayish Blue: hsl(246, 25%, 77%) B9B6D3FF
*/
