@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  @apply transition-all;
}

body {
  height: 100%;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
